* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

// start header
header {
  .container {
    .header-A {
      background-color: black;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 40px 0 0;
      .header-A-2 {
        padding: 20px 0;
        li {
          display: inline-block;
          margin-right: 8px;
          a {
            font-size: 20px;
            color: white;
            .fa {
              font-size: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .header-B {
      width: 100%;
      padding: 5px 10px;
      .header-B-1 {
        width: 100%;
        li {
          display: inline-block;
          margin-right: 20px;
          a {
            color: black;
            font-size: 23px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

// end header

// start body
.register {
  padding-bottom: 130px;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      font-weight: 400;
      font-size: 40px;
    }
    form {
      position: relative;
      width: 80%;
      padding-top: 40px;
      .box {
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        .input-box {
          border-bottom: 5px solid #ae18e2;
          width: 450px;
          margin-top: 30px;
          input {
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
            height: 60px;
          }
        }
        .gender-box {
          border: none;
          display: flex;
          align-items: center;
          .gender1 {
            display: flex;
            margin-right: 20px;
            font-size: 23px;

            input {
              margin-right: 10px;
              font-size: 10px;
            }
          }
          label {
            display: flex;
            align-items: center;
            font-size: 20px;
            input {
              font-size: 30px;
            }
          }
        }
      }
      .box-3 {
        margin-bottom: 70px;
      }
      .btnSubmit {
        position: absolute;
        width: 290px;
        height: 50px;
        background-color: #ae18e2;
        color: white;
        border: none;
        font-size: 30px;
        right: 200px;
      }
    }
  }
}

// end body

// start footer
footer {
  .container {
    .footer-A {
      padding-top: 20px;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 20px;
      width: 100%;
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      ul {
        margin-right: 20px;
        border-right: 1px solid grey;
        li {
          margin-top: 5px;
          font-size: 14px;
        }
      }
      .ul3 {
        border: none;
      }
    }
    .footer-B {
      padding-top: 20px;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 20px;

      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #ececec;

      ul {
        padding-right: 30px;
        height: 100px;
        margin-right: 20px;
        border-right: 1px solid grey;
        li {
          margin-top: 5px;
          font-size: 14px;
        }
      }
      .ul3 {
        border: none;
      }
    }
  }
}

footer > .container > .footer-A > ul > li:first-child,
footer > .container > .footer-B > ul > li:first-child {
  font-weight: bold;
  font-size: 20px;
}
footer > .container > .footer-B > ul > li:last-child {
  color: red;
}
// end footer
